#page1{
  animation: gradientAnimation 20s ease infinite; 
}
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to top, #1C1C1C, #292929, #666666); 
  }
  25% {
    background: linear-gradient(to left, #1C1C1C, #292929, #666666); 
  }
  50% {
    background: linear-gradient(to bottom, #1C1C1C, #292929, #666666); 
  }
  75% {
    background: linear-gradient(to right, #1C1C1C, #292929, #666666); 
  }
  100% {
    background: linear-gradient(to top, #1C1C1C, #292929, #666666); 
  }
}

.logoimg-fluid:hover{
  background-color: #646461; 
  transform: translateY(-5px); 
  border-radius: 500px;
}

.logoimg-fluid {
  animation: popDown 0.4s ease-out;
  opacity: 0; 
  animation-fill-mode: forwards; 
}
@keyframes popDown {
  0% {
    transform: translateY(-50px) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


.dauntteam {
  animation: fadeInSlideUp 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Members*/
.member:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.member:hover .profile {
  transform: rotate(10deg) scale(1.1); 
}
.member:hover .mem, 
.member:hover .educ {
  color: #FFD700; 
}

.personal {
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #828282;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.personal:hover {
  background-color: #FFD700; 
  transform: translateY(-5px); 
}

/*Footer*/
.det{
  transition: transform 0.2s ease;
}
.det :hover {
  transform: scale(0.9);
}